body {
    font-family: Arial, sans-serif;
  }
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
 
  .logo {
    /* Styles pour votre logo */
  }
 
  nav ul {
    list-style: none;
    display: flex;
  }
 
  nav li {
    margin-left: 10px;
  }
 
  nav a {
    text-decoration: none;
    color: #333;
  }




  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 70vh; /* heritier ajuste hquteur */
  }
 
  .image-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
  }
 
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .description-container {
    width: 50%;
  }
 
  .bulles {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
 
  .bulle1 {
    /* Style pour les bulles */
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
  }


  .bulle2{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
  }


  .bulle3{
    width: 100px;
    height: 100px;
    background-color: #80d8da;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
  }

